<div class=" bottom-buffer">
	<div class="col-lg-4">
    	<div class="media">
          <div class="media-left">
              <img class="media-object" src="images/container-placeholder.png" alt="" style="width:200px;">
          </div>
          <div class="media-body">
            <h3 class="media-heading">Container Name - test change</h3>
            Application Description, this is some information about his application.This is the group the application belongs to.
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-2">
    	<h3>Container Performance</h3>
        <div class="box-content">
            <div class="chartContainer" style="height:190px;"></div>
            
        </div>
    </div>
</div>
<h3>list containers row</h3>
<!--<div class="row" ng-controller="containerController">-->
<div class="row" ng-controller="containerController">
  <div class="col-lg-3 container-item" ng-repeat="id in ids">
    <!--<td>{{container.Created}}</td>-->
      <!--<div class="col-lg-1">-->
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-lg-12 data-unit">
        	<div class="data-label">ID:  </div><div class="displayed-data"> {{id.read}}</div>
        </div> <br>
        <div class="col-lg-12 data-unit">
        	<div class="data-label">Host_IP:  </div><div class="displayed-data"> {{id.Host_IP}}</div>
        </div> 
      </div>
    <!--<td>{{container.Size}}</td>-->


        <!--<h3>list containers widget</h3>-->
    <!--<div class="widget">-->
        <!--<strong ng-show="!vm.containers">Loading...</strong>-->
        <!--<ul>-->
            <!--<li ng-repeat="rest in vm.containers">-->
                <!--&lt;!&ndash;<a ng-href="#/menu/{{rest.id}}">&ndash;&gt;-->
                <!--<img class="img-responsive" alt="" src="images/container-placeholder.png">-->
                <!--<strong ng-bind="rest.Names"></strong> <span ng-bind="'(' + rest.Id + ')'"></span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--
	<div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/container-placeholder.png">
          <p>Application name</p>
    </div>-->
</div>



	<script src="assets/js/bootstrap.min.js"></script>
	

	

