<div class="row">
	<div class="col-lg-4 bottom-buffer">
    	<div class="media">
          <div class="media-left">
              <img class="media-object" src="images/app-placeholder-1.png" alt="" style="width:200px;">
          </div>
          <div class="media-body">
            <h3 class="media-heading">My Applications</h3>
            Application Description, this is some information about his application.This is the group the application belongs to.
          </div>
        </div>
    </div>
</div>
<div class="row bottom-buffer">
	<div class="col-lg-3">
        <div ng-controller="appFormController">
          <form novalidate class="application-form">
            <select 
                ng-model="appName.id" 
                ng-options="appName.id as appName.name for appName in appNames"
                placeholder="Application Name"
                vd-advanced>
            </select><br />
            <input type="text" ng-model="app.conImage" placeholder="{{conImage}}" /><br />
            <input type="text" ng-model="app.variable" placeholder="{{variable}}" /><br />
            <input type="text" ng-model="app.init" placeholder="{{init}}" /><br />
          </form>
        </div>
        <div class="row">
        	<div class="col-lg-3">Scale Factor</div>
            <div class="col-lg-6">
        		<div class="slider sliderSimple"></div>
            </div>
            <div class="col-lg-3">
            
            </div>
        </div>
    </div>
    <div class="col-lg-3">
    	<h3>Service</h3>
        <p>Display information about the service here</p>
    </div>
    <div class="col-lg-3">
    	<h3>Check</h3>
        <p>Checkname:sparkuptimecheck</p>
        <div>
        	<p>Status is up</p>
        </div>
        <p>Script is $workarea/sparku.sh</p>
    </div>
    <div class="col-lg-3">
    	<h3>App Exec</h3>
        <p>Display information about the App Execution here here</p>
    </div>
</div>
<div class="row">
	<div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-3.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-3.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-3.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
</div>
<div class="row">
	<div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-3.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-3.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-3.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-1.png">
          <p>Application name</p>
    </div>
    <div class="col-lg-1">
          <img class="img-responsive" alt="" src="images/app-placeholder-2.png">
          <p>Application name</p>
    </div>
</div>


<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	
		
	
	
	<!-- page scripts -->
	<script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="assets/js/jquery.sparkline.min.js"></script>
	
	<!-- theme scripts -->
	<script src="assets/js/custom.min.js"></script>
	<script src="assets/js/core.min.js"></script>
	
	<!-- inline scripts related to this page -->
	<script src="assets/js/pages/ui-sliders-progress.js"></script>