<div class="main container">
	<div class="row">
		<div class="bottom-buffer col-lg-12">
			<h3>My Applications</h3>
			<div class="col-lg-1">
				<div>
					<img class="img-responsive" alt="" src="images/app-placeholder-1.png">
					<h4>App Name</h4>
				</div>
			</div>
			<div class="col-lg-1">
				<div>
					<img class="img-responsive" alt="" src="images/app-placeholder-3.png">
					<h4>App Name</h4>
				</div>
			</div>
			<div class="col-lg-1">
				<div>
					<img class="img-responsive" alt="" src="images/app-placeholder-2.png">
					<h4>App Name</h4>
				</div>
			</div>
			<div class="col-lg-1">
				<div>
					<img class="img-responsive" alt="" src="images/app-placeholder-3.png">
					<h4>App Name</h4>
				</div>
			</div>
			<div class="col-lg-1">
				<div>
					<img class="img-responsive" alt="" src="images/app-placeholder-1.png">
					<h4>App Name</h4>
				</div>
			</div>
			<div class="col-lg-1">
				<div>
					<img class="img-responsive" alt="" src="images/app-placeholder-1.png">
					<h4>App Name</h4>
				</div>
			</div>
			<div class="col-lg-1">
				<div>
					<img class="img-responsive" alt="" src="images/app-placeholder-2.png">
					<h4>App Name</h4>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 bottom-buffer">
			<h3>Recently Accessed Containers</h3>
			<div class="col-lg-2" ng-repeat="container in containers" tooltip="{{ container._id._str }}">
				<div class="text-center" style="width: 50%; align: center">
					<img class="img-responsive" alt="" src="images/container-placeholder.png">
				</div>
				<a ng-hide="data.editingContainer == container" href="" ng-click="data.editingContainer = container">{{container.name || 'new container'}}</a>
				<input ng-show="data.editingContainer == container" class="input input-sm" ng-model="container.name" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
		</div>
	</div>
	<div class="col-lg-2">
		<button ng-click="containers.push({})" class="btn btn-success">Add</button>
	</div>
</div>
