<div>
	<h3>Hit <strong>ctrl + m</strong> to view and update the database</h3>
	<button ng-click="sortBy='DNSName'">Sort by host</button>
	<button ng-click="sortBy='Image'">Sort by image</button>
	<button ng-click="sortBy='Command'">Sort by command</button>
	<ul>
		<li ng-repeat="(key, value) in containers | orderBy:sortBy | groupBy:sortBy" style="float:left">
			<h2>{{key}}</h2>
			<div style="margin-top: 20px">
				<ul>
					<li ng-repeat="container in value" style="width: 200px;list-style: none ">
						<canvas chart-options="chart.options " chart-colours="chart.colours " class="chart chart-doughnut " chart-data="chart.data[$index] " chart-labels="chart.labels ">
						</canvas>
						<a ui-sref="containerDetails({containerId: container.LXCId}) ">
							<ul>
								<li>{{container.DNSName}} </li>
								<li>{{container.Image}} </li>
								<li>{{container.Command}}</li>
							</ul>
						</a>
						<div am-time-ago="container.ReadTime "></div>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
